body,
html {
  background-color: rgba(29, 128, 159, 0.5);
}

nav {
  background-color: rgba(29, 128, 159, 0.5);
}

header {
  background-size: 50%;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("images/imgHead.jpg");
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("images/imgHead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  flex-direction: row;
  align-items: center;
}

.navbar>.container, .navbar>.container-fluid {
  justify-content: space-around;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  background-color: #212529;
}

.tech-icon {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.technologiesPage {
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("images/imgBody.jpg");
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("images/imgBody.jpg");
  /* background-color: rgba(29, 128, 159, 0.5); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.technologiesPage h2 {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  max-width: 30rem;
}

.portfolio-item {
  max-width: 640px;
}

footer.page-footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

footer.page-footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.page-footer .social-link:hover {
  text-decoration: none;
}

a {
  color: white;
}

ul {
  margin-top: auto;
  margin-bottom: auto;
  list-style: none;
}