/* Tooltip */
.tooltip > .tooltip-inner {
	background-color: #061c50;
}

/* Tooltip on top */
.tooltip.top > .tooltip-arrow {
  border-top: 5px solid #4A90E2;
}

/* Tooltip on bottom */
.tooltip.bottom > .tooltip-arrow {
  border-bottom: 5px solid #4A90E2;
}

/* Tooltip on left */
.tooltip.left > .tooltip-arrow {
  border-left: 5px solid #4A90E2;
}

/* Tooltip on right */
.tooltip.right > .tooltip-arrow {
  border-right: 5px solid #4A90E2;
}